{% extends "base.html" %}

{% load socialaccount %}

{% block title %}Log In | UVA Leftovers{% endblock %}

{% block content %}
<div style="text-align:center; margin-top:40px;">
    <h1>Sign In</h1>
    
    <p>If you do not have an account yet, then please sign up first.</p>

    <a href="{% provider_login_url 'google' %}"
       style="display:inline-block;
       padding:12px 20px;
       border-radius:8px;
       text-decoration:none;
       font-weight:600;
       background:#E57200;
       color:white;
       transition:0.2s;">
       Sign in with Google
    </a>
</div>
{% endblock %}