<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}UVA Leftovers{% endblock %}</title>
</head>

<body style="margin:0; font-family: Arial, Helvetica, sans-serif; min-height:100vh; display:flex; flex-direction:column;">

  {% include "navbar.html" %}

  <main style="flex:1;">
    {% block content %}{% endblock %}
  </main>
  <footer class="site-footer" style="background:#10172A; color:#aab3c5;
                                       padding:18px 0; font-size:14px;
                                       border-top:3px solid #E57200;">
        <div class="container" style="display:flex; justify-content:space-between;">
            <span>© {{ now|date:"Y" }} UVA Leftovers</span>
            <span>Built by B-27</span>
        </div>
    </footer>
</body>

</html>