{% extends "base.html" %}
{% block title %}Available Food | UVA Leftovers{% endblock %}

{% block content %}
  <h1 style="text-align:center; margin-top:24px;">
    Student — Available Food
  </h1>

  <p style="text-align:center;">
    Here you’ll see the list of available food.
  </p>

  <div style="width:80px;height:80px;background:#e53935;border-radius:8px;margin:16px auto;"></div>

  <p style="text-align:center;">
    <a href="/" style="text-decoration:none; color:#E57200;">Back to Home</a>
  </p>
{% endblock %}